<!DOCTYPE html>
<html lang="ja">
    <head>

        <%- include('../_includes/_common.ejs') %>

        <title>Tenkue Hotel</title>

        <!-- OGP -->
        <%#- include('./_includes/_ogpCommon.ejs') %>
        <%#- include('./_includes/_ogpTwitter.ejs') %>
        <%#- include('./_includes/_ogpFacebook.ejs') %>

    </head>
</html>

    <body>
        <%- include('../_includes/_header') %>

        <main>
            <article class="p-login">
                <div class="p-login__inner l-content-wrap-default">
                    <!-- ここにHTMLを書いていく -->
                    <div>
                        <h1>ログイン</h1>
                        <div>
                            <label for="p-login__email">Email
                                <input type="email" id="p-login__email">
                            </label>
                        </div>
                        <div>
                            <label for="p-login__password">password
                                <input type="password" id="p-login__password">
                            </label>
                         </div>
                        <label for="p-login__checkbox">
                        <input type="checkbox" id="p-login__checkbox">
                        記憶する
                        </label>
                        <button>登録</button>
                        <p>Tenkue App に登録することにより利用規約に同意したものとみなされます。 プライバシーポリシーを見る。</p>
                    </div>

                </div>
            </article>

        </main>

        <%- include('../_includes/_footer.ejs') %>

    </body>
</html>
