.p-about {
    // ここにCSSを書いていく
    width: 100%;
    @media screen and (max-width: 767px) {
        .Contents {
            max-width: 100%;

            &__Text {
                display: block;
                max-width: 100%;
                height: auto;

                &__Opposite {
                    display: block;
                    max-width: 100%;
                }
                &__Left {
                    width: 100%;
                }
                &__Image {
                    width: 100%;
                }
                &__Opposite__Right {
                    width: 100%;
                }
                &__Opposite__Image {
                    width: 100%;
                }
            }
        }
    }

    .About {
        text-align: center;
        margin: 40px 0 100px;

        &__Title {
            margin-bottom: 30px;
        }
    }

    .Contents {
        &__Title {
            text-align: center;
            margin-bottom: 30px;
            font-size: 1.8rem;
        }

        &__Text {
            width: 900px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &__Left {
                width: 45%;
                margin-top: 30px;

                &__Description {
                    margin-top: 10px;
                }
            }

            &__Image {
                width: 45%;
                object-fit: contain;
            }

            &__Opposite {
                width: 900px;
                margin: 50px 0 100px;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;

                &__Right {
                    margin-top: 30px;
                    width: 45%;

                    &__Description {
                        margin-top: 10px;
                    }
                }

                &__Image {
                    width: 45%;
                    object-fit: contain;
                }
            }
        }
    }
}
