.p-home {
    // ここにCSSを書いていく
    section {
        padding-bottom: 50px;
        padding-top: 50px;
        text-align: center;
        width: 100%;
        &.p-home__title {
            margin-top: 20px;
        }
        &.p-home__contents {
            display: flex;
            margin-bottom: 100px;
            div {
                width: 45%;
                &.p-home__img_home {
                    margin-right: 10%;
                    user-select: none;
                }
                &.p-home__links {
                    button {
                        background-position: 15px 50%;
                        background-repeat: no-repeat;
                        background-size: 1.5rem;
                        border: 1px solid;
                        border-color: gray;
                        font-size: 1rem;
                        height: 52px;
                        margin-bottom: 30px;
                        padding-left: 50px;
                        padding-right: 50px;
                        width: 100%;
                        &:hover {
                            cursor: pointer;
                        }
                        &.p-home__signup {
                            background-color: #00478B;
                            background-image: url("/asset/image/email.svg");
                            color: #fff;
                            &:hover {
                                background-color: #2B669F;
                            }
                            &:active {
                                border: 4px solid;
                                border-color: #fff;
                            }
                        }
                        &.p-home__login {
                            background-color: #fff;
                            background-image: url("/asset/image/login.svg");
                            &:hover {
                                background-color: lightgray;
                            }
                            &:active {
                                border: 4px solid;
                                border-color: #2B669F;
                            }
                        }
                    }
                    p {
                        font-size: 0.85rem;
                        a {
                            font-size: 0.85rem;
                            &:hover {
                                border-bottom: 1px solid;
                                border-color: gray;
                                color: gray;
                            }
                        }
                    }
                }
            }
        }
    }
}
